<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%highlight{[%t] [ %-5level] %d{HH:mm:ss.SSS}} %style{%logger{36}}{cyan} - %style{%msg%n}{magenta}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>